.list-urls {
  padding: 0.5em;
  overflow-y: scroll;

  .list-header {
    top: 0;
    position: sticky;
    position: -webkit-sticky;
  }

  .url-item {
    margin-bottom: 0.5em;
    padding: 0.5em;
    display: grid;
    grid-template-columns: 1fr 5fr 2fr 3fr 2fr;
    align-items: center;
    border-radius: 0.5em;
    border: solid 0.1rem darkgray;
    transition: box-shadow 0.1s;

    * {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &:not(:first-child):hover {
      box-shadow: 0.5em 0.5em 2em gray;
      cursor: pointer;
    }

    .custom-url {
      align-items: center;
      justify-items: center;
      justify-content: end;
    }

    .edit-url,
    .delete-url {
      margin-left: 0.5em;
      padding: 0.5em;
      border-radius: 0.2em;

      img {
        width: 0.8em;
      }
    }

    .confirm-edit,
    .confirm-delete {
      display: none;

      div {
        margin-left: 0.5em;
        padding: 0.2em 0.5em;
        border-radius: 0.2em;
        text-overflow: unset;
      }
    }

    .url,
    .code {
      input {
        display: none;
      }
    }

    &.edit {
      border: 0.2em solid #7359a8;

      .edit-url,
      .delete-url {
        display: none;
      }

      .confirm-edit {
        display: flex;
      }

      .url,
      .code {
        padding: 0 0.2em;
        input {
          padding: 0.5em;
          display: block;
          width: 100%;
          height: 100%;
          border-radius: 0.3em;
          border: solid 1px gray;
          outline: none;
        }
      }

      .url a,
      .code span {
        display: none;
      }
    }

    &.delete {
      border: 0.2em solid red;
      .edit-url,
      .delete-url {
        display: none;
      }

      .confirm-delete {
        display: flex;
      }
    }
  }
}

//ads
* {
  box-sizing: border-box;
}
body {
  font-family: Verdana, sans-serif;
}
.mySlides {
  display: none;
}
img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
  display: block;

  &.dot {
    display: inline-block;
  }
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px;
  }
}
